workflow.json
{
    "name": "AI_email_assistance_workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 8
                        }
                    ]
                }
            },
            "name": "Daily Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                -448,
                -496
            ],
            "id": "034d7669-629b-4a2b-9680-39c8d2c8c3e4"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/send-digest",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "sushobhan.jana@intglobal.com"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Trigger Digest",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -224,
                -496
            ],
            "id": "b86d891d-cad8-48ab-b887-ffbe1815bd74"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/process-reminders",
                "options": {}
            },
            "name": "Process Reminders",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                0,
                -272
            ],
            "id": "89cb3291-8734-4ef2-a873-099987d420a0",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "name": "Interval Trigger1",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                -448,
                -272
            ],
            "id": "6f2acc24-1b6c-439c-b571-8851ac78a3c8"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/check-mom",
                "options": {}
            },
            "name": "Check Missing MoMs1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -224,
                -272
            ],
            "id": "09c91289-dd78-41fb-beea-35e499b9e360"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                -448,
                80
            ],
            "id": "3f3db6e3-4cfd-4b41-8520-8299bd367aea",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "options": {
                    "reset": false
                }
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                0,
                80
            ],
            "id": "b918cf9d-5d8f-4821-9abd-2e859c3593d1",
            "name": "Loop Email1",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/analyze-email",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "={{ $json }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Analyze Email1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                224,
                160
            ],
            "id": "91f3c36c-a37b-4d82-91a4-0826e3e15c4b"
        },
        {
            "parameters": {
                "url": "http://host.docker.internal:3001/get-unread-emails",
                "options": {}
            },
            "name": "Fetch Emails1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -224,
                80
            ],
            "id": "d6f917d8-2b47-411c-8f84-f03cf5743f22"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.priority }}",
                                        "rightValue": "High",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "a9ef3cfb-c5e8-458f-974c-15761ecff7c5"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "High Priority"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "urgent-rule-id",
                                        "leftValue": "={{ $json.is_urgent }}",
                                        "rightValue": true,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Urgent"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "7d76dae3-bf92-4f06-aa3c-2e9acad3a56a",
                                        "leftValue": "={{ $json.mom_missing }}",
                                        "rightValue": false,
                                        "operator": {
                                            "type": "boolean",
                                            "operation": "true",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Missing MoM"
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                -224,
                320
            ],
            "id": "ca58dbdb-52c3-4107-b15c-df248e619c9c",
            "name": "Route Actions1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/send-alert",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "email",
                            "value": "={{ $json }}"
                        },
                        {
                            "name": "recipient",
                            "value": "sushobhan.jana@intglobal.com"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send Alert1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                224,
                -48
            ],
            "id": "dc387975-16e7-4623-9986-ead6eb68ff0b",
            "alwaysOutputData": true
        }
    ],
    "pinData": {},
    "connections": {
        "Daily Trigger": {
            "main": [
                [
                    {
                        "node": "Trigger Digest",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Interval Trigger1": {
            "main": [
                [
                    {
                        "node": "Check Missing MoMs1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Missing MoMs1": {
            "main": [
                [
                    {
                        "node": "Process Reminders",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Emails1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Email1": {
            "main": [
                [],
                [
                    {
                        "node": "Analyze Email1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze Email1": {
            "main": [
                [
                    {
                        "node": "Route Actions1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Emails1": {
            "main": [
                [
                    {
                        "node": "Loop Email1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Actions1": {
            "main": [
                [
                    {
                        "node": "Send Alert1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Alert1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Alert1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop Email1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Alert1": {
            "main": [
                [
                    {
                        "node": "Loop Email1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "cb2edcef-bc1a-46a5-843e-ee25c96ef3b6",
    "meta": {
        "instanceId": "59e108cbb01df849edc009d9abaefb9f64963e7a7f58a5854709c1a0bbb9e20a"
    },
    "id": "Dm8Tm3Y7oCeu6QTJ",
    "tags": []
}